body {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	.main {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		.container {
			padding-top: 70px;
			width: 95%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin: 0 auto;
			.counter {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-left: 100px;
				width: 15%;
				height: 225px;
				border: solid 1px white;
				color: white;
				text-align: center;
				font-family: 'Roboto Light';
				span {
					font-size: 5.5em;
					margin: 0 auto;
					margin-bottom: 35px;
				}
			}
			.info {
				font-size: 2.5em;
				color: white;
				.date {
					margin-left: 15px;
					margin-top: 50px;
					font-size: 0.8em;
					.truck {
						margin-left: -10px;
						width: 5px;
						position: absolute;
						height: 30px;
						background: #f0e353;
					}
					span {
						color: white;
						font-size: 0.5em;
					}
				}
				h5 {
					margin-top: 15px;
					font-size: 0.4em;
				}
				span {
					color: #f0e353;
				}
			}
		}
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -10;
		}
		.regist {
			display: flex;
			/* margin: 0 auto; */
			margin-top: 110px;
			/* justify-content: center; */
			width: 100%;
			flex-direction: column;
			text-align: center;
			color: white;
			font-family: 'Roboto Thin';
			button {
				margin: 0 auto;
				margin-bottom: 25px;
				width: 40%;
				background: none;
				border-radius: 3px;
				border: solid 1px #f0e353;
				color: #f0e353;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 1.8em;
				min-height: 55px;
				line-height: 55px;
			}
			button:hover {
				border: solid 1px white;
				color: white;
				cursor: pointer;
			}
		}
		a {
			margin: 0 auto;
			width: 350px;
		}
		//		.marquee {
		//			text-align: center;
		//			height: 70px;
		//			margin: 0 auto;
		//			overflow: hidden;
		//			position: relative;
		//		}
		//		.marquee img {
		//			width: 105px;
		//			height: 50px;
		//			position: absolute;
		//			overflow: hidden;
		//			animation: marquee 1s linear infinite;
		//		}
		//		@keyframes marquee {
		//			0% {
		//				bottom: 0;
		//			}
		//			100% {
		//				bottom: -100%;
		//			}
		//		}
		.scroll_not{
			text-align: center;
			width: auto !important;
		}
		.block {
			margin: 0 auto;
			width: 95px;
    		margin-left: 5px;
			height: 50px;
			-webkit-animation-name: block-animation;
			animation-name: block-animation;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-direction: normal;
			animation-direction: normal;
			background: url(img/arrow.png);
			background-repeat: no-repeat;
		}
		
		@-webkit-keyframes block-animation {
			to {
				-webkit-transform: translateY(50px);
			}
		}
		@keyframes block-animation {
			to {
				transform: translateY(50px);
			}
		}
	}
	footer {
		height: 350px;
		width: 100%;
		display: flex;
		border-top: solid 1px white;
		.box_one {
			width: 50%;
			background: #55719f;
			border-right: solid 1px #ffff;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 200px;
				height: 50px;
			}
			h1 {
				text-transform: uppercase;
				color: white;
				margin-left: 25px;
				font-size: 1.5em;
			}
		}
		.box_two {
			width: 50%;
			background: #55719f;
		}
	}
}
