body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
body .main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body .main .container {
  padding-top: 70px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
body .main .container .counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 15%;
  height: 225px;
  border: solid 1px white;
  color: white;
  text-align: center;
  font-family: 'Roboto Light';
}
body .main .container .counter span {
  font-size: 5.5em;
  margin: 0 auto;
  margin-bottom: 35px;
}
body .main .container .info {
  font-size: 2.5em;
  color: white;
}
body .main .container .info .date {
  margin-left: 15px;
  margin-top: 50px;
  font-size: 0.8em;
}
body .main .container .info .date .truck {
  margin-left: -10px;
  width: 5px;
  position: absolute;
  height: 30px;
  background: #f0e353;
}
body .main .container .info .date span {
  color: white;
  font-size: 0.5em;
}
body .main .container .info h5 {
  margin-top: 15px;
  font-size: 0.4em;
}
body .main .container .info span {
  color: #f0e353;
}
body .main img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}
body .main .regist {
  display: flex;
  /* margin: 0 auto; */
  margin-top: 110px;
  /* justify-content: center; */
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: 'Roboto Thin';
}
body .main .regist button {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 40%;
  background: none;
  border-radius: 3px;
  border: solid 1px #f0e353;
  color: #f0e353;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
  min-height: 55px;
  line-height: 55px;
}
body .main .regist button:hover {
  border: solid 1px white;
  color: white;
  cursor: pointer;
}
body .main a {
  margin: 0 auto;
  width: 350px;
}
body .main .scroll_not {
  text-align: center;
  width: auto !important;
}
body .main .block {
  margin: 0 auto;
  width: 95px;
  margin-left: 5px;
  height: 50px;
  -webkit-animation-name: block-animation;
  animation-name: block-animation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  background: url(img/arrow.png);
  background-repeat: no-repeat;
}
@-webkit-keyframes block-animation {
  to {
    -webkit-transform: translateY(50px);
  }
}
@keyframes block-animation {
  to {
    transform: translateY(50px);
  }
}
body footer {
  height: 350px;
  width: 100%;
  display: flex;
  border-top: solid 1px white;
}
body footer .box_one {
  width: 50%;
  background: #55719f;
  border-right: solid 1px #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .box_one img {
  width: 200px;
  height: 50px;
}
body footer .box_one h1 {
  text-transform: uppercase;
  color: white;
  margin-left: 25px;
  font-size: 1.5em;
}
body footer .box_two {
  width: 50%;
  background: #55719f;
}
